<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light+Two" rel="stylesheet">
	<title>Time to Eat Some Burgers</title>
</head>

<body>
	<img src="/assets/img/cat-burger.png" id="cuteBurger">

	{{{ body }}}

</body>
</html>