<h1>Time to eat some burgers</h1>
<h2>See options below</h2>


<ul>
  {{#each burgers}}


</ul>

  <div class="form-group">
    <label for="burger-name">Burger Name</label>
    <input type="text" id="burger-name" name="name">
  </div>

    <button type="submit">Submit</button>