
<h1>Time To Eat Some Burgers!</h1>

      <div id = "newBurger">
        <h3>New Burgers</h3>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class="burgerAvailable"> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div id = "eatenBurger">
        <h3>Burgers You've Already Tried</h3>
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="burgerEaten">
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>

<h2>Add a New Burger to the List!</h2>

    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Add Your Burger Here!">
      <button type="submit" class="addBurgerButton">Submit</button>
    </form>
